:root {
  --button-color: #ffffff;
  --button-background: #4d5ae5;
  --button-background-hover: #404bbf;
  --background-color: #ffffff;
  --bg-gradient: var(
    --background-linear-gradient: rgba(46, 47, 66, 0.7) ;rgba(46, 47, 66, 0.7) ;
  );
}
p,
h1,
h2,
h3,
ul,
li,
a,
span,
button {
  margin: 0;
}
address {
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--background-color);
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.about {
  padding-top: 120px;
  padding-bottom: 120px;
}
.flex {
  display: flex;
}
.header {
  display: flex;
  background-color: var(--background-color);
}
.header .container {
  display: flex;
  align-items: center;
}
.header_nav {
  background-color: var(--background-color);
  margin-right: auto;
}

.header_logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Raleway", sans-serif;
  margin-right: 76px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header_logo_two {
  color: #2e2f42;
}
.header_logo_two:is(:hover, :focus) {
  color: #4d5ae5;
}
.header_list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #2e2f42;
}
.header_link {
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header_link:is(:hover, :focus) {
  color: #404bbf;
}
.contacts-list {
}
.contacts-items:not(:last-child) {
  margin-right: 40px;
}
.header_mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header_mail:is(:hover, :focus) {
  color: #404bbf;
}
.list {
  list-style: none;
  text-decoration: none;
}
.link {
  text-decoration: none;
}
.adress {
  font-style: normal;
}
.header_mail,
.header_phone {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header_phone {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header_phone:is(:hover, :focus) {
  color: #404bbf;
}
/*------------------HEROSECTION------------------*/
.hero_section {
  background: #2e2f42;
  width: 1440px;
}
.hero_section_tytle {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero_btn {
  cursor: pointer;
  background: var(--button-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  gap: 10px;
  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  /* WHITE */

  color: var(--button-color);
}
.hero_btn:is(:hover, :focus) {
  background-color: var(--button-background-hover);
}
/**----SECTION 2--------**/
.section_two_tytle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-two-list {
  display: flex;
  gap: 24px;
  align-items: center;
}
.section-two-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.section_two_item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*------SECTION 3-------*/
.section-three-box {
  display: flex;
}
.section_three_tytle {
  padding-top: 120px;
  padding-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}
.section-four {
  background-color: #f4f4fd;
}
.section-four-list {
  background-color: var(--background-color);
}
.section-four-link link {
  background-color: var(--background-color);
}
.section_four_tytle {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section_four_name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section_four_proffession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background: #2e2f42;
}
.footer_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer_logo_two {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.portfolio_btn {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;
  background-color: #f4f4fd;
}
.portfolio_btn:is(:hover, :focus) {
  background: #404bbf;
  color: #ffffff;
}
.portfolio_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio_desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
